version: '3.8'

services:
  engine:
    build:
      context: ../
      dockerfile: Dockerfile
    restart: always
    expose:
      - "8080"
    sysctls:
      - net.core.somaxconn=65535

  nginx:
    image: nginx:latest
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - engine
